* {
    box-sizing: border-box;
}


/*
    COLORS!
    #ececec - light White

    #f2a365 - Tan

    #30475e - Deep Blue

    #222831 - Dark Blue
*/

.background1 {
    background-color: #ececec;
    padding: 20px;
}

body {
    margin: 0;
    font-family: 'DM Mono', monospace;
    background-color: #30475e;
    color: #ececec;
}

div {}

.footer {
    font-family: 'Libre Barcode 39 Text', cursive;
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 30px;
    color: white;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #ececec;
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    text-align: center;
}

#navbar #logo {
    color: white;
    font-size: 65px;
    font-weight: bold;
    transition: 0.4s;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
}

@media screen and (max-width: 580px) {
    #navbar {
        padding: 20px 10px !important;
    }
    #navbar a {
        float: none;
        display: block;
        text-align: left;
    }
    #navbar-right {
        float: none;
    }
}


/* Uh Oh */